footer {
    display: flex;

    //  Center content
    justify-content: center;
    align-items: center;

    //  Set the min-height
    height:70px;
    min-height: 70px;

    background-color: $grey;

    font-family: $base-font-family;
    text-align: center;

    color: $white;

    .attribution {
        font-size: 11px; 
        text-align: center;
        a {
            color: $white;
            text-decoration: none;
            font-weight: bold;
            &:hover {
                text-decoration: underline;
            }
        }
    }


}